mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin location(isLocationIcon= true, isMetroIconLarge = false)
  .location
    a.location__address(href="https://yandex.ru/maps/?um=constructor%3A2a696978720ea53ebd9e73ad180c28869d75ec04b1c62260721b4917e3c98ebd&source=constructorLink" rel="noreferrer" target="_blank")
      if isLocationIcon
        +icon('location__icon icon', 'location')
      p Минск, ул. Энгельса, дом 34, офис 305
    .location__metro
      if isMetroIconLarge
        img.location__icon.icon.icon--large(src="images/common/metro-lg.png", alt="")
      else
        img.location__icon.icon(src="images/common/metro.png", alt="")
      .location__metro-item
        p Октябрьская
        p Купаловская

mixin phones
  .phones
    a.phones__item(href="tel:+375173920279")
      +icon('phones__icon icon', 'phone')
      p.phones__num +375 (17) 392-02-79
    a.phones__item(href="tel:+375296109165")
      img.phones__icon.phones__icon--a1.icon(src="images/common/a1.png", alt="")
      p.phones__num +375 (29) 610-91-65
    a.phones__item(href="tel:+375298787656")
      img.phones__icon.phones__icon--mts.icon(src="images/common/mts.png", alt="")
      p.phones__num +375 (29) 878-76-56

mixin callbackBtn
  button.callback Оставить заявку

mixin consult(title, subtitle)
  section.consult.container
    img.consult__img(src="images/index/consult/phone.png", alt="")
    .consult__info
      h2.consult__title= title
      h3.consult__subtitle= subtitle
      +callbackBtn
      +phones

mixin crumbs(arrLinks)
  nav.crumbs.container
    ul
      li: a(href='index.html') Главная
      for link in arrLinks
        li: a(href=`${link.href}.html`)= link.name

mixin titlePage(title)
  h2.title-page= title

mixin descripPage(descrip)
  p.descrip-page= descrip

mixin remark(remark)
  .remark
    p.remark__txt= remark

mixin descripList(modif, icon, title, arrItems, arrTxt= null)
  .descrip-list
    h4.descrip-list__title= title
    ul
      for item in arrItems
        li.descrip-list__item
          +icon(`descrip-list__icon ${modif}`, icon)
          p= item
    if arrTxt
      for txt in arrTxt
        p.descrip-list__txt= txt

mixin serviceList(arrItems)
  ul.service-list
    for item in arrItems
      li
        .service-list__content
          +icon('service-list__icon', 'tick')
          p= item.txt
