mixin decorator(modif= none)
  .decorator(class= modif)

mixin title(title)
  h2.title= title
  +decorator('decorator--small')

mixin summary(className)
  summary(class= className)
    span подробнее
    +icon(`${className}-icon`, 'summary-arrow')

mixin descripItem(arrTitle, icon, arrTxt, arrList)
  li.descrip__item.swiper-slide
    .descrip__feat
      p= arrTitle[0]
      +icon('descrip__icon', icon)
      p= arrTitle[1]
    details.descrip__details(open)
      +summary('descrip__summary')
      .descrip__txt
        for text in arrTxt
          p= text
        if arrList
          ul
            for text in arrList
              li= text

mixin providerItem(txt)
  li.provider__item.swiper-slide
    +icon('provider__icon', 'checked')
    p.provider__txt= txt

mixin plusesItem(txt)
  li.pluses__item
    .pluses__icon
      <svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="15" r="11.5" stroke="#D5251F"/>
        <path d="M8.322 15.43V14.618H11.556V11.048H12.41V14.618H15.63V15.43H12.41V19H11.556V15.43H8.322Z" fill="#D5251F"/>
      </svg>
    p.pluses__txt= txt

mixin feeItem(link, img, num, txt)
  li.fee__item.swiper-slide
    a.fee__link(href= `${link}.html`)
      .fee__img-wrapper
        img.fee__img(src=`images/index/fee/${img}`, alt="")
      .fee__title-wrapper
        span.fee__num= num
        h3.fee__title= txt

mixin featuresItem(icon, title, txt)
  li.features__item.swiper-slide
    +icon('features__icon', icon)
    h3.features__item-title= title
    p.features__item-txt= txt

mixin clientsItem(img, link, label)
  li.clients__item.swiper-slide
    a.clients__link(href= link aria-label= label)
      img.clients__img(src=`images/index/clients/${img}`, alt="")

mixin workItem(icon, num, txt)
  li.work__item.swiper-slide
    .work__img
      +icon('work__icon', icon)
      span.work__num= num
    p.work__txt= txt
