mixin decorator(modif= none)
  .decorator(class= modif)

mixin title(title)
  h2.title= title
  +decorator('decorator--small')

mixin callbackBtn
  button.callback Оставить заявку

mixin descripItem(arrTitle, icon, arrTxt, arrList)
  .descrip__wrapper
    .descrip__item
      .descrip__feat
        p= arrTitle[0]
        +icon('descrip__icon', icon)
        p= arrTitle[1]
      .descrip__txt
        for text in arrTxt
          p= text
        if arrList
          ul
            for text in arrList
              li= text

mixin providerItem(txt)
  .provider__item
    +icon('provider__icon', 'checked')
    p.provider__txt= txt

mixin plusesItem(txt)
  .pluses__item
    +icon('pluses__icon', 'plus')
    p.pluses__txt= txt

mixin feeItem(link, img, num, txt)
  a.fee__item(href= link)
    .fee__img-wrapper
      img.fee__img(src=`images/index/fee/${img}`, alt="")
    .fee__title-wrapper
      span.fee__num= num
      h3.fee__title= txt

mixin featuresItem(icon, title, txt)
  .features__item
    +icon('features__icon', icon)
    h3.features__item-title= title
    p.features__item-txt= txt

mixin clientsItem(img)
  img.clients__item(src=`images/index/clients/${img}`, alt="")

mixin workItem(icon, num, txt)
  .work__item
    .work__img
      +icon('work__icon', icon)
      span.work__num= num
    p.work__txt= txt
